
</div>
<div>
  <div class="footer">
    <div class="socials">
          <a href="https://www.facebook.com/qubyteconsolidate/"><i class="fa fa-facebook-square"></i></a>
          <a href="#"> <i class="fa fa-instagram"></i></a>
          <a href="mailto:adnan.qudsi@gmail.com"><i class="fa fa-envelope"></i></a>
        </div>
        <p>QUBYTE CONSOLIDATE PRIVATE LIMITED</p> <br>
        <div class="copyright">
          <p>©all rights reserved 2021</p>
        </div>
  </div>
</div>
</body>
</html>
