<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>QUBYTE TRAVELS</title>
  <meta charset="utf-8">
  <link rel="icon" href="./pictures/iconmain.ico">

  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Limelight&display=swap" rel="stylesheet">
  <script src="https://use.fontawesome.com/38d13a84a1.js"></script>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
  <link rel="stylesheet" href="./css/styles.css">


  <body>

  <div class="container-fluid">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand"><b>YOUR TRAVEL BUDDY</b></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" aria-current="page" href="/">HOME</a>
        <a class="nav-link" href="/packages">PACKAGES</a>
        <a class="nav-link" href="/contacts">CONTACT US</a>
        <a class="nav-link" href="#"  aria-disabled="true">FLIGHTS</a>
        <a class="nav-link" href="#"  aria-disabled="true">HOTELS</a>
      </div>
    </div>
  </nav>
  </div>




    <div class="container">
