<%- include("partials/header") -%>
<form class="" action="mailto:adnan.qudsi@gmail.com " method="post">
  <label>Your Name</label> <input type="text" name="name">
   <br/>
  <textarea name="message" rows="8" cols="80" placeholder="enter your query here, we'll revert back as soon as possible"></textarea> <br>
<input type="text" name="contact" placeholder="your contact (optional)"><button style="margin-left: 20px;" type="submit" class="btn btn-outline-success">SEND</button>
</form>
<div class="connect-bt">
  <button type="button" name="button" class="btn btn-outline-dark fa fa-whatsapp btn-lg btn-block" onclick="window.location.href ='https://wa.me/9810347105?text=I%20want%20book%20a%20trip';">  CONNECT TO US ON WHATSAPP</button>
</div>

<%- include("partials/footer") -%>
