<%- include("partials/header") -%>
<div class="top" style="font-family: inherit; text-align:center;">
  <p>
    Confused About where to go and how to plan your holiday?? fed up with the routine and want to take a break?
</p>
  <h2 style="font-family: 'Limelight', cursive;">PERHAPS WE CAN HELP!!</h2>
<p>We are one stop solution to all your holiday needs, from destinations to hotel, flights and stay, activities and dining, we have it all covered.</p>
</div>
  </div>
<div class="container-fluid pickups">
  <p class="pickupsp">TOP  PICKUPS  FOR  YOU</p>
<div class="row">
  <div class="col-lg-3 col-md-4 col-sm-6" >
    <div class="card" style="width: 18rem;">
      <img src="./pictures/pic1.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-4 col-sm-6">
    <div class="card" style="width: 18rem;">
    <img src="./pictures/pic2.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
  </div>
  </div>
  <div class="col-lg-3 col-md-4 col-sm-6">
    <div class="card" style="width: 18rem;">
      <img src="./pictures/pic1.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-4 col-sm-6">
    <div class="card" style="width: 18rem;">
      <img src="./pictures/pic1.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>
  </div>

</div>
</div>
<section>
  <div class="left">
    <div class="img">
     <img src="./pictures/roadmap.jpg" alt="roadmap">
    </div>
  </div>
  <div class="right">
    <h1>Who We Are</h1>
    <p>et, consectetur adipiscing elit. Vestibulum ultricies consectetur urna mollis suscipit. Duis ac massa vitae augue laoreet ultrices nec nec purus. Sed condimentum nec mauris lacinia pellentesque. Etiam id ligula non tellus tristique venenatis. Nulla semper lobortis leo, eget pretium risus pellentesque eu. Donec et odio ac leo eleifend ornare. Ut quis viverra odio, feugiat facilisis lacus. Aenean gravida urna vitae neque posuere sollicitudin. Duis molestie dignissim vestibulum. Proin enim justo, commodo ac diam a, laoreet interdum erat. Aliqu</p>
  </div>
</section>

    <%- include("partials/footer") -%>
